<%= link_to "users home page", "/users" %>
<% if flash[:success] %>
    <div class="notice"><%= flash[:success] %></div>
<% end %>
<p>Hi everyone</p>
<p>My name is <%= @user.username %></p>
<% if (!current_user.nil?) and (current_user.id == @user_id) %>
    <%= link_to 'Join the chat!', "/" %><br>
    <%= link_to 'log out', "/logout", method: "delete" %>
<% else %>
    <%= link_to 'Login to join the chat!', "/login" %>
<% end %>

